
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(237, 234, 234);
}
a {
    color: blue;
}

li {
    text-decoration: none;
    list-style-type: none;
}
a:link {
    text-decoration: none;
    
}

  .header_right {
    line-height: initial;
    padding-bottom: 12px;
}

.header_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left, .header_right {
    display: flex;
    gap: 2rem;
}

.header_links ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}




.header_flex {
    max-width: 1300px;
    margin: 0 auto;
}

.header_close, #click, .header_menu{
    display: none;
}


.logout{
    width: 20px;
}
.table-actor{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 64px;
}
table{
    width: 100%;
   
}
#table-title{
    text-align: center;
}
header {
    background: #fff;
    border: 2px solid #44444414;
    height: 60px;
    line-height: 60px;
}